<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labtech Page</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
      <!-- Header section containing the title and navigation menu -->
      <header>
        <img src="../images/logo.png" id="logo">
        <h1>Homepage</h1>
        <nav>
            <ul>
                <li><a href="LViewAvailable">View Slot Availability</a></li>
                <li><a href="/labtechView/LSubReservation">Reservations</a></li>
                <li><a href="/labtechView/LSubProfile">Profiles</a></li>
                <li><a href="../logout">Logout</a></li>


            </ul>
        </nav>
    </header>
    
    <main>
        <section class="intro">
            <h2>Welcome to LabLink {{user.firstName}}!</h2>
            <p>Reserve a seat in one of our computer labs easily and quickly.</p>
        </section>
    </main>

    <!-- Footer section with copyright information -->
    <footer>
        <p>&copy; 2024 LabLink. All rights reserved.</p>
    </footer>
</body>
</html>
</body>