<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
      <!-- Header section containing the title and navigation menu -->
      <header>
        <img src="../images/logo.png" id="logo">
        <h1>Homepage</h1>
        <nav>
            <ul>
                <li><a href="/WcreateLabtechs">Create Labtechs</a></li>
                <li><a href="/dashboard">Access Control Logs</a></li>
                <li><a href="/dashboard2">Auth Attempts Logs</a></li>
                <li><a href="/dashboard3">Input Validation Logs</a></li>
                <li><a href="../logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="intro">
            <h2>Welcome back!</h2>
            <p>View logs of the web application.</p>
            {{#if lastAuthAttempt}}
                <p>Last login attempt: {{lastAuthAttempt.status}} on</p> <p>{{formatTimestamp lastAuthAttempt.timestamp}}</p>
            {{else}}
                <p>No previous login attempts.</p>
            {{/if}}
            
            {{#if message}}
                <p style="color: green">{{message}}</p>
            {{/if}}
        </section>
    </main>

    <!-- Footer section with copyright information -->
    <footer>
        <p>&copy; 2024 LabLink. All rights reserved.</p>
    </footer>
</body>
</html>
</body>