<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
      <!-- Header section containing the title and navigation menu -->
      <header>
        <img src="../images/logo.png" id="logo">
        <h1>Homepage</h1>
        <nav>
            <ul>
                <li><a href="../logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="intro">
            <h2>Welcome back, {{user.firstName}}!</h2>
            <p>View logs of the web application.</p>
        </section>
    </main>

    <!-- Footer section with copyright information -->
    <footer>
        <p>&copy; 2024 LabLink. All rights reserved.</p>
    </footer>
</body>
</html>
</body>