<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Labtechs</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <!-- Header section containing the title and navigation menu -->
  <header>
    <img src="../images/logo.png" id="logo">
    <h1>LabLink</h1>
    <nav>
      <ul>
        <li><a href="WadminPage">Back</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="register-form">
            <h2>Create Lab Technician Accounts</h2>

            <form id="registerForm" action="/WcreateLabtechs" method="POST">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="email">DLSU Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <p>Password requires:</p>
                <li>8 characters minimum</li>
                <li>Uppercase, Lowercase</li>
                <li>Number, and Special character</li>
                <br>

                <label for="question">Choose a Security Question:</label>
                <select id="question" name="question" required>
                    <option value="">Select a question...</option>
                    <option value="What is your sibling's nickname?">What is your sibling's nickname?</option>
                    <option value="What was the first concert you attended?">What was the first concert you attended?</option>
                    <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                </select>

                <label for="answer">Answer:</label>
                <input type="text" id="answer" name="answer" required placeholder="Enter your answer (case insensitive)">

                <label for="role">Account for:</label>
                <select id="role" name="role" required>
                    <option value="student">Student</option>
                    <option value="labtech">Lab Technician</option>
                </select>

                <button type="submit">Register</button>
            </form>
                {{#if errors}}
                    <ul>
                    {{#each errors}}
                        <li style="color: red">{{this}}</li>
                    {{/each}}
                    </ul>
                {{/if}}
        </section>
  </main>

  <!-- Footer section with copyright information -->
  <footer>
    <p>&copy; 2024 LabLink. All rights reserved.</p>
  </footer>
</body>
</html>